.blog {
    text-align: center;
    margin: 50px 0 0 0;
}

.blogBox {
    display: grid; /* Flex yerine grid yapısını kullanın */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Dört sütunlu düzen oluşturur, her bir hücre en az 300px genişliğinde */
    gap: 20px; /* Hücreler arasında boşluk */
    margin: 50px 0px;
    padding: 0 20px; /* Kenarlardan iç boşluk */
}

.blogImage {
    position: relative; 
    height: 55vh;
    padding: 10% 1%;
    font-size: 25px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 24px;
    transition: 0.3s ease;
    cursor: pointer;
}

/* Karartma efektinin olduğu bölüm */
.blogImage::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
    border-radius: 24px;
}

/* Hover olduğunda karartma efekti */
.blogImage:hover::before {
    opacity: 1; 
    border-radius: 24px;
}

/* Metin stilini korumak için metni konumlandırın */
.blogImage span {
    position: relative; 
    z-index: 1; 
}
.blogImage p {
    font-size: 16px;
    margin-top: 30px;
    position: relative; 
    z-index: 1; 
}

.blogLinkButtonDiv {
    margin-top: 50px;
}

.blogLinkButton {
    text-align: center;
    margin: 50px !important;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
    border: none;
    text-decoration: none;
    border-radius: 16px;
}
