.corporateIdentityMain {
    background-color: rgba(69, 104, 61, 255); /* Arka plan rengi */
    padding-bottom: 50px; /* Alt boşluk */
}

.corporate-identity {
    max-width: 800px; /* İçeriğin genişliğini ayarlamak için */
    margin: 0 auto; /* Ortalamak için */
    padding: 20px; /* Kenar boşluğu için */
    font-family: 'Arial', sans-serif; /* Yazı tipi */
    line-height: 1.6; /* Satır yüksekliği */
    color: #333; /* Yazı rengi */
    background-color: #f9f9f9; /* Arka plan rengi */
    border-radius: 8px; /* Kenar yuvarlama */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Gölgelendirme */
}

.corporate-identity h1 {
    font-size: 2.5em; /* Başlık boyutu */
    margin-bottom: 20px; /* Alt boşluk */
    color: #7b3e26; /* Başlık rengi */
}

.corporate-identity h2 {
    font-size: 1.8em; /* Alt başlık boyutu */
    margin-top: 20px; /* Üst boşluk */
    margin-bottom: 10px; /* Alt boşluk */
    color: #5a2d21; /* Alt başlık rengi */
}

.corporate-identity p {
    margin-bottom: 15px; /* Paragraf alt boşluğu */
}

@media (max-width:480px){
    .corporate-identity {
        width: 90% !important;
    }
  }