.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: rgba(69,104,61,255);
}

.navbarImage{
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 16px;
}

.navbarLink{
    padding: 0 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    color: white;

}

.navbarLink:active{
    color: black;
    text-decoration: none;
}