/* Sayfa düzeni */
.equipment-page {
    display: flex;
    height: 100vh;
}

/* Sidebar (Kategoriler ve Markalar) */
.sidebar {
    width: 250px !important;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto; /* İçerik fazla olursa kaydırma sağlar */
    transform: translateX(0);
}

.sidebar h2 {
    margin-bottom: 20px;
}
.products-page{
    display: flex;
}
.category {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category:hover {
    background-color: #e0e0e0;
}

.category.active {
    background-color: #d0d0d0;
    font-weight: bold;
}

.accordion {
    margin-top: 10px;
}

.brands {
    padding-left: 10px;
}

.brand {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.brand:hover {
    background-color: #d0d0d0;
}

.brand.active {
    background-color: #d0d0d0;
    font-weight: bold;
}

/* Ürün Görüntüleme Alanı */
.product-display {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto; /* Ürünler çok olursa kaydırma sağlar */
    min-height: 100vh;
}

.product-display h2 {
    margin-bottom: 20px;
}

/* Ürün kartları ızgara düzeni */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Ürün kartı */
.product-card {
    width: 200px;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

.product-card:hover {
    transform: scale(1.1);
}

/* Ürün resmi */
.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Ürün adı */
.product-card h3 {
    padding: 10px 0;
    font-size: 16px;
    color: #333;
}
.hamburger-menu {
    display: none;
  }

/* Responsive tasarım */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .product-card {
        width: 180px;
        height: 220px;
    }

    .product-card img {
        height: 130px;
    }
}

@media (max-width: 480px) {
    .hamburger-menu {
        display: block;
        margin: 10px 0 0 10px;
      font-size: 30px;

      }
    
      .sidebar {
        transform: translateX(-100%);
        position: absolute;
        top: 113;
        left: 0;
        height: 100%;
        z-index: 999; /* Sidebar üstte gözüksün */
        transition: all  0.3s ease-out;
      }
    
      .sidebar.open {
        transform: translateX(0);
      }
      .sidebar.active{
        transition: all 0.3s ease-out;
      }
      .product-grid{
        margin: auto;
        justify-items: center
      }
      
}
