.productsImage{
    height: 75vh;
    width: 97vw;
    background-position: center;
    background-size: cover;
    margin: 0px 20px;
    border-radius: 8px;
    text-align: center;
    padding-top: 50px;
    color: black;
    font-size: 36px;
}
.productsImage span{
    background-color: transparent;
}

.servicesLink{
    text-decoration: none;
}