.refMain{
    margin-top: 20px;
}

.referances {
    text-align: center;
    margin: 50px 0;
}

.referancesBox {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    position: relative; /* İçinde pozisyonlama yapılacak */
}

.referancesImage {
    position: relative;
    margin-top: 50px;
    height: 30vh;
    width: 30vw;
    padding-top: 10%;
    font-size: 25px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 24px;
    transition: 0.3s ease;
    cursor: pointer;
}

/* Karartma efektinin olduğu bölüm */
.referancesImage::before {
    content: ''; /* Boş içerik oluştur */
    position: absolute; /* Mutlak pozisyonlama */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Hafif karartma */
    opacity: 0; /* Başlangıçta görünmez */
    transition: opacity 0.3s ease; /* Geçiş efekti */
    border-radius: 24px;
}

/* Hover olduğunda karartma efekti */
.referancesImage:hover::before {
    opacity: 1; /* Hover olduğunda görünür hale getir */
    border-radius: 24px;

}

/* Metin stilini korumak için metni konumlandırın */
.referancesImage span {
    position: relative; /* Metin için konumlandırma */
    z-index: 1; /* Metnin karartma katmanının üstünde görünmesi için */
}

.referancesLinkButtonDiv {
    margin-top: 50px;
    text-align: center;
}

.referancesLinkButton {
    text-align: center;
    margin: 50px !important;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
    border: none;
    text-decoration: none;
    border-radius: 16px;
}

.referancesPageImage{
    position: relative; /* Mutlak pozisyonlama için gerekli */
    
    margin-top: 50px;
    height: 45vh;
    padding-top: 5%;
    font-size: 25px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 24px;
    transition: 0.3s ease;
    cursor: pointer;
}

.referancesPageImage::before {
    content: ''; /* Boş içerik oluştur */
    position: absolute; /* Mutlak pozisyonlama */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Hafif karartma */
    opacity: 0; /* Başlangıçta görünmez */
    transition: opacity 0.3s ease; /* Geçiş efekti */
    border-radius: 24px;
}

/* Hover olduğunda karartma efekti */
.referancesPageImage:hover::before {
    opacity: 1; /* Hover olduğunda görünür hale getir */
    border-radius: 24px;

}

/* Metin stilini korumak için metni konumlandırın */
.referancesPageImage span, .servicesPageImage p {
    position: relative; /* Metin için konumlandırma */
    z-index: 1; /* Metnin karartma katmanının üstünde görünmesi için */
}

/* Instagram ikonunu ortada konumlandırma */
.instagramIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* İkonu tam ortalamak için */
    opacity: 0; /* Başlangıçta gizli */
    transition: opacity 0.3s ease; /* Hover durumunda animasyon */
}

.referancesImage:hover .instagramIcon {
    opacity: 1; /* Hover durumunda ikon görünür hale gelir */
}

/* İkon boyutu ve rengi */
.instagramIcon img {
    width: 50px;
    height: 50px;
    filter: invert(1); /* Beyaz ikon (isteğe bağlı) */
}

.referancesA{
    width: 30vw;
}
.refTitle{
    text-align: center;
}