@media (max-width:1024px){
    .whyCoffeeOp{
        display: flex;
        flex-direction: column;
    }

    .whyContext{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .whyText{
        width: 70%;
    }
}